numpy
pandas
matplotlib
scipy
sklearn
vdom
nodejs
watchgod
nbdime
jupyter-server-proxy
jupyter-offlinenotebook
jupyterlab-git
jupyterlab_iframe
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
RISE
psutil
nbresuse==0.3.6
jupyterlab==2.2.9
jupyter_client >= 5.3.4
jupyter_core >= 4.6.1 
