numpy
pandas
matplotlib
scipy
vdom
nodejs
watchgod
nbdime
jupyter-server-proxy
jupyter-offlinenotebook
jupyterlab-git
jupyterlab_iframe
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
RISE
psutil
nbresuse==0.3.6
jupyterlab==2.2.9
